[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
idna = "*"
online-judge-tools = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "==21.9b0"
pre-commit = "*"

[requires]
python_version = "3.8"

[scripts]
lint="bash ./lint.sh"
format="bash ./format.sh"
test="bash ./test.sh"
new="bash ./new.sh"
submit="bash ./submit.sh"
