[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
idna = "*"

[dev-packages]
online-judge-tools = "*"
flake8 = "*"
isort = "*"
black = "==21.9b0"

[requires]
python_version = "3.8"
